
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@800&display=swap');

h1 {
    padding: 10px 50px;

    margin: 0px;
    color:black;
    background-color: transparent;
    text-align: center;
    font-family: 'Texturina', serif;
}
.container{
    max-width: 500px;
    margin:auto;
}

body {
    background-image: url('images/minion1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
 
}

.head-container {

    background-color: transparent;
    padding: 0px 10px 40px 10px;

    text-align: center;

    margin: auto;
    font-family: 'Texturina', serif;
    font-size: large;
}

.user-input {
    align-items: center;
    padding: 0px 30px;

}

.user-input textarea {
    width: 80%;
    height: 20vh;
    margin: auto;
    text-align: center;
    background-color: transparent;
    border: 2px solid white;
    color: black;
    font-family: 'Texturina', serif;
    font-size: large;


}

.user-input #btn-translate {
    padding: 5px 10px;
    background-color:yellow;
    border: 1px solid white;
    color: black;
    margin: 2rem;
    font-family: 'Texturina', serif;
}

.user-input #output-txt {
    width: 100%;
    height: 20vh;
    margin: 0rem;
    padding: 0%;
    border: 2px solid white;
   background-color:yellow;
    color: blue;
    font-family: 'Texturina', serif;
    padding:1rem;

}